---
import Base from "@layouts/Base.astro";
import PageHeader from "@components/PageHeader.astro";
import config from "@config/config.json";
const doctors = await Astro.props('../content/doctors/*.mdx');
---

<Base>
  <div class="container">
    {doctors.map(doctor => (
      <article>
        <h2>{doctor.frontmatter.title}</h2>
        <p>{doctor.frontmatter.excerpt}</p>
        <a href={`/doctors/${doctor.slug}`}>Read more</a>
      </article>
    ))}
  </div>
</Base>
