---
import VideoSlider from "@layouts/function-components/VideoSlider";
const { video } = Astro.props;
---

{video.video_list.length > 0 && 
  <section class="reviews">
    <div class="container">
      <div class="row justify-between">
        <div class="lg:col-6">
          <h2>{video.intro}</h2>
        </div>
    
      </div>
      <div class="row mt-10">
        <div class="col-12">
          <VideoSlider list={video.video_list} client:load />
        </div>
      </div>
    </div>
  </section>
}
