---
import Base from "@layouts/Base.astro";
import SigninSlider from "@layouts/function-components/SigninSlider.jsx";
import { getEntryBySlug } from "astro:content";
const doctors = await getEntryBySlug("doctors", "index");

---


  <section>
    <div class="container max-w-full">
      <div class="row">
       
        <SigninSlider
          client:load
          title=" Turn your All ideas into<br /> your reality"
        />
      </div>
    </div>
  </section>

